
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fb7419;
    --secondary-color:#101e4b;
		--blue-color:#101e4b;

}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*font-family: 'Montserrat', sans-serif;*/

body{
    font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "normalidad-wide", sans-serif;
	
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 2rem);
    padding-left: var(--bs-gutter-x, 2rem);
}
.abs-btn{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.abs-btn i{
    font-size: 30px;
    background: #c5c5c552;
    /* padding: 30px; */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.section_banner .banner-content{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    text-align: center;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_banner .banner-content h1{
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 19px;
    margin-bottom: 0;
    line-height: 1.4;
}
.section_banner .banner-content a{

    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 3px solid #FFAA21;
    padding: 8px 0;
    cursor: pointer;

}
.section_banner .banner-content a:hover{
    color:#fff;
}
.sec-title{
    background: #000000;
    padding: 60px;
}
.sec-title h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
}
.sec-portfolio{
    overflow: hidden;
    padding-top: 50px;
}
.sec-portfolio .slick-slide{
    padding: 15px;
}
.portfolio-slider h4{
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 4px;
}
.sec_title {
    border-bottom: 1px solid #000;
}
.clients{
    padding: 50px;
}
.clients h3{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 50px;
    font-size: 44px;
}
.clients .item{
    text-align: center;
    margin-bottom: 50px;
}
.clients .item img{
    width: 100%;
    max-width: 220px;
}
.sec-contact-form{
       background: #fff;
    padding: 90px 0;
}
.contact-form{
    width: 90%;
    margin: auto;
}
.sec-contact-form h3{
    text-align: left;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 3px;
font-size: 55px;
    color: var(--secondary-color);
}
.section_banner .video-section .hero-video {
    object-fit: cover;
    width: 100%;
    z-index: 0;
    height: 80vh;
    position: relative;
}
.section_banner .video-section .hero-video{
    opacity:0.5;
}
.section_banner .video-section{
    background:#000;
    height:80vh;
}
.portfolio-slider{
    margin-bottom: 30px;
}
.about-gallery .slick-slide{
    padding: 10px;
}

/*gallery css*/

.row.about-gallery > .column {
    padding: 0 8px;
}

.history-image .row:after {
    content: "";
    display: table;
    clear: both;
}

.history-image .about-gallery .column {
    float: left;
    width: 25%;
}
.history-image .mySlides0 img{
    height:100%;
    object-fit:cover;
}
.history-image .mySlides img{
    height:100%;
    object-fit:contain;
}
.history-image-model.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 99999;
}

/* Modal Content */
.history-image-model .modal-content {
    position: relative;
    background-color: #ff000000;
    margin: auto;
    padding: 0;
       width: 55%;
    max-width: 1200px;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
}

/* The Close Button */
.history-image-model .close {
    color: #000;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.history-image-model .close:hover,
.history-image-model .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.history-image-model .mySlides0 {
    display: none;
    height:690px;
}
.history-image-model .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
/* .history-image-model .prev,
.history-image-model .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #2d5896;
    background:#fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index:999;
} */

/* Position the "next button" to the right */
.history-image-model .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

/* Number text (1/3 etc) */
.history-image-model .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.history-image-model .about-gallery img {
    margin-bottom: -4px;
}

.history-image-model .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.history-image-model .demo {
    opacity: 0.6;
}

.history-image-model .active,
.history-image-model .demo:hover {
    opacity: 1;
}

.history-image-model img.hover-shadow {
    transition: 0.3s;
}

.history-image-model .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.sec-footer{
    background: #000;
}
.sec-footer >.container >.row{
    padding: 0 100px;
    justify-content: space-between;
    padding-bottom: 50px;
}
.sec-footer .footer-content h3{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFAA21;
}
.sec-footer .footer-content p{
    color:#ffff;
}
.sec-footer  .social-media{
    padding: 0;
}
.social-media ul{
    margin:0;
    padding:0;
}
.social-media li{
    list-style: none;
    display: inline-block;
}
.social-media li a{
/*     color: #000;
    font-size: 24px;
    display: block;
    padding: 5px 8px; */
}
.sec-footer .contact-info{
    padding: 0;
}
.sec-footer .contact-info li{
    list-style: none;
    color: #fff;
    line-height: 26px;

}
.last-part{
    padding: 15px;
}
.last-part p{
    margin: 0;
}
.last-part p a{
    color: #feab21;
    text-decoration: none;
}
.last-part p a:hover{
    text-decoration: underline;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #fff;
}
.contact-form .form-control, .wpcf7-form-control-wrap input,.wpcf7-form-control-wrap textarea {
    background: none;
    border: none;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    color: var(--secondary-color);
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.wpcf7-form-control-wrap textarea{
    height: 50px;
}
.contact-form .wpcf7-form-control-wrap input:focus, .wpcf7-form-control-wrap textarea:focus  {
    background-color: none;
    border-color: nonee;
    outline: 0;
    box-shadow: none;
}
.contact-form textarea{
    resize: none;

}
.contact-form p{
    margin: 0;
    margin-bottom: 10px;
        color: var(--secondary-color);
}
.wpcf7-list-item-label, .wpcf7-list-item-label a{
        color: var(--secondary-color);
    text-decoration: none;
    font-size: 14px;
}
.contact-form .submit-btn .btn{
margin-top: 20px;
    background: var(--primary-color);
    border: none;
    /* border: 3px solid #6631F7; */
    border-radius: 0;
    padding: 10px 60px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-transform: initial;
    border-radius: 20px;
}

.wpcf7-list-item input{
    width: unset;
    display: inline-block;
}













.mySwiper1 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

/*.mySwiper1 > ul > li.active {*/
/*    border-bottom: 16px solid #000;*/
/*    border-bottom-left-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/

.mySwiper1 > ul > li.active p {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;

}

.mySwiper1 > ul > li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.mySwiper1 > ul > li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}




/*  ============ main body  section Close */
/*  ============  List Items display section Open  */

/* neo qled */
@-webkit-keyframes anim {
    0% {
        display: none;
        /*opacity: 0;*/
        transform: translateY(-40%);
    }

    1% {
        display: block;
        /*opacity: 0;*/
        /*transform: scale(0);*/
        transform: translateY(-40%);
    }

    100% {
        /*opacity: 1;*/
        /*transform: scale(1);*/
        transform: translateY(0);
    }
}

@keyframes anim {
    0% {
        display: none;
        /*opacity: 0;*/
        transform: translateY(-40%);
    }

    1% {
        display: block;
        /*opacity: 0;*/
        /*transform: scale(0);*/
        transform: translateY(-40%);
    }

    100% {
        /*opacity: 1;*/
        /*transform: scale(1);*/
        transform: translateY(0);
    }
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.swipper_uhd .Samsung__cat__items.container__slide, .swipper_new .Samsung__cat__items.container__slide, .swipper_qled .Samsung__cat__items.container__slide, .swipper_life .Samsung__cat__items.container__slide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.swipper_uhd .Samsung__cat__items.container__slide .samsung__cat__item, .swipper_new .Samsung__cat__items.container__slide .samsung__cat__item, .swipper_qled .Samsung__cat__items.container__slide .samsung__cat__item, .swipper_life .Samsung__cat__items.container__slide .samsung__cat__item{
    flex: 0 0 33.33%;
    margin-top: 35px;
}

.hide__btn__h {
    display: none;
}



.photo-section .netflix-slider img{
    height: 600px;
    width: 100%;
}
@media (max-width: 767.98px) {


    .swiper-wrapper {
        justify-content: unset;
    }

    .swipper_uhd .Samsung__cat__items.container__slide .samsung__cat__item, .swipper_new .Samsung__cat__items.container__slide .samsung__cat__item, .swipper_qled .Samsung__cat__items.container__slide .samsung__cat__item, .swipper_life .Samsung__cat__items.container__slide .samsung__cat__item{
        flex: 0 0 100%;
    }

}













.main-menu{width: 100%; height: 100%; opacity: 0; visibility: hidden;}
.nav-open .main-menu {opacity: 1; visibility: visible; background: rgba(0, 0, 0, 0.92); }
.main-menu .nav li a{color:#FFF; font-size: 4vh; font-weight:600; text-transform: uppercase; }
.main-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .main-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}




.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}
.navbar>.container, .navbar>.container-fluid {
    display: inline
}

.navbar-brand img{
    width: 100%;
    max-width: 350px;
	    height: auto;
}
.nav-button{
    border: none;
    text-decoration: none;
}
.nav-button #nav-icon3 span{
    background: #fff;
}
.header-top{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}
.header-top .navbar{
    padding: 25px;
}

.mySlides0 img{
    height:100%;
    object-fit:cover;
}
.history-image .slick-slide img{
    cursor: pointer;
}
#gifs-rows img {
    cursor: pointer;
}
.img-fil{
    height:181px;
    object-fit:cover;
    width:100%;
}
#gifs-rows .gif-file {
    display:none;
}
#gifs-rows:hover .img-fil{
    display:none;


}
#gifs-rows:hover .gif-file{
    display:inline;
    width: 100%;
    height: 180px;
    object-fit:cover;

}
.menu-text-button{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-close{
    float:right;
}


.netflix-slider img {
    max-width: 100%;
    height: 240px;
    border-radius: 15px;
    object-fit: cover;
}



.netflix-slider .swiper-wrapper {
    padding: 20px 0;
}

.netflix-slider .swiper-slide {
    -webkit-transition: 250ms all;
    transition: 250ms all;
    cursor: pointer;

}
.netflix-slider .swiper1 .swiper-slide{
		    height: 300px;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 850px;
        margin: 4rem auto;
    }
}
.small-logo{
    display:none;
}
.mySlides0 iframe{
    height:500px;
}
.rll-youtube-player {
    position: unset !important;
    padding-bottom: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    max-width: 100% !important;
}

.reels-new video{
	    height: 100%;
}
.reels-new .swiper-slide{
	    height:560px !important;
}

.reels-new button i{
	    /* background: #ffffff52; */
    /* padding: 30px; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}


.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #6B1FF5;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 999999;
}

.overlay-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.overlay-content a {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;
}

.closebtn {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.mobile-menu li {
  line-height: 3;
  text-align: center;
  padding: 0 !important;
}

.mobile-menu .menu-has-child .sub-menu {
  display: none;
}

.mobile-menu .active .sub-menu {
  display: block;
}

.mobile-menu .sub-menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu .sub-menu li a {
  color: #fff !important;
}

.mobile-menu .menu-has-child > a::after {
  position: absolute;
  right: -28px;
  top: -19px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
  content: "\f107";
  margin-left: 8px;
  margin-top: 0px;
  font-size: 21px;
  color: #ffffff;
}

.mobile-menu .menu-has-child > a {
  position: relative;
}

@media (max-width: 767.98px) {
  .top-menu .logo-part.dark {
    display: block;
  }

  .top-menu .logo-part.dark img {
    max-width: 200px;
  }

  .top-menu .burger-menu span {
    color: #fff;
  }

  .top-menu.scrolled .burger-menu span {
    color: #000;
  }

  .top-menu .logo-part.full {
    display: none;
  }

  .top-menu.scrolled .logo-part.full {
    display: block;
  }
}

.top-menu.scrolled {
  background: #fff;
}


.last-div ul li{
    display: inline-block;
}
.last-div p{
    margin: 0;
}
li{
    list-style: none;
}
.sec_footer{
    padding: 40px 0;
}
.sec_footer .footer-logo{
    margin-bottom: 30px;
}
.sec_footer .footer-logo img{
    width: 100%;
    max-width: 300px;
	    height: auto;
}
.sec_footer ul{
    margin: 0;
    padding: 0;
}
.sec_footer ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.history-image-model .prev{
    background: none !important;
    left: -130px;
}
.history-image-model .next{
    background: none !important;
    right: -130px !important;
}
.history-image-model .prev i, .history-image-model .next i{
    color: #978e80;
    font-size: 22px;
}
.history-image-model .prev i:hover, .history-image-model .next i:hover{
    color: #000;
}

.history-image-model .close{
    border: 2px solid #978e80;
    padding: 20px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-image-model .close:hover{
    border: 2px solid #000;
    height: 65px;
    width: 65px;
}

.swiper1 .swiper-button-prev{
    top: 32px;
    right: 0;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    z-index: 99999;
}
.swiper1 {
    position: relative;
    padding-top: 50px;
}
.swiper-button-next{
    top: 32px;
}
.swiper1 .swiper-button-prev:after, .swiper1 .swiper-button-next:after{
    font-size: 18px;
    color: #000;
    font-weight: 900;
}
.sec_services .item{
    width: 20%;
    height: 550px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    /* padding: 0 0px; */
    margin: 0 5px;
}
.sec_services .item:hover .abs-content{
    display: flex;
	    align-items: flex-start;
}
.sec_services .item .sec_btn{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding-bottom: 30px;
}
.sec_services .item .sec_btn a{
background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1;
    display: flex;
    align-items: center;
	text-transform: uppercase;
}
.sec_services .abs-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    border-radius: 20px;
    color: #fff;
    display: none;
}
.sec_services .abs-content h3{
    text-transform: uppercase;
    font-weight: 900;
       font-size: 25px;

}
.sec_services .abs-content p{
    font-size: 14px;
}
.sec_services  h4{
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 4px;
}
.sec_services{
    padding: 50px 0;
}



.sec_banner {
    height: 80vh;
    overflow: hidden;
    position: relative;
}
#myVideo {
    width:100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.sec_banner .video-btn .open,
.sec_banner .video-btn .close {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #b9b9b942;
    border: none;
    animation: enlarge 1.5s ease-in-out infinite;
}
@keyframes enlarge {
    0% {
        height: 150px;
        width: 150px;
    }
    50% {
        height: 170px;
        width: 170px;
    }
    100% {
        height: 150px;
        width: 150px;
    }
}
.sec_banner .video-btn i {
    color: #fff;
    font-size: 60px;
}
.sec_banner .video-btn{
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sec_banner .video-btn .hide{
    display: none;
}
.sec_banner .video-btn  .close{
    height: 100px;
    width: 100%;
    opacity: 0;
    animation: none;
}
.sec_banner .banner-content{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec_banner .banner-content h1{
    color: #fff;
    font-weight: 900;
    font-size: 19px;
    letter-spacing: 4px;
    margin: 0;
    margin-right: 20px;
}
.main_btn_new{
    background: var(--primary-color);
    padding: 13px 20px;
    border-radius: 40px;
    color: #fff !important;
    font-weight: 500;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border: none;
}
.photo-section .netflix-slider .swiper2{
    position: relative;
    padding-top: 0px;
}

.swiper2 .swiper-button-prev{
    top: 32px;
    right: 0;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    z-index: 99999;
}


.swiper2 .swiper-button-prev:after, .swiper2 .swiper-button-next:after{
    font-size: 18px;
    color: #000;
    font-weight: 900;
}
/* .sec_banner .banner-content .something-new > a:before{
    content: "\f111";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    margin-right: 25px;
    font-size: 10px;
    margin-top: 3px;
} */
/* .sec_banner .banner-content .something-new > a:after{
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
} */

.office-details h3{
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
}
li{
    font-size: 15px;
    line-height: 1.4;
}

/* .sec_services .item .sec_btn a:before{
    content: "\f111";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    margin-right: 25px;
    font-size: 10px;
    margin-top: 3px;
}
.sec_services .item .sec_btn a:after{
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    margin-left: 25px;
    font-size: 18px;
} */

.mobile-service .item{
    width: 100%;
}
.netflix-slider .abs-part{
	position:absolute;
	top:0;
    width:100%;
    height:100%;
    background-size: cover !important;
    background-position: center !important;
display: flex;
    justify-content: center;
    align-items: center;
	    height: 300px;
            border: none;
}
.netflix-slider .youtube-video{
     height: 300px;
     width: 100%;
}
.netflix-slider .abs-part i{
	    background: #ffffff52;
    /* padding: 30px; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}
.video-playing  .abs-part{
  background: none !important; /* Remove background color when video is playing */
}


.video-playing .youtube-video {
  position: relative;
  z-index: 1; /* Set initial z-index */
}
.netflix-slider .abs-part,  .youtube-video{
	border-radius:10px;
}
/*  .video-container .youtube-video {
  display: none ; 
} */

.video-playing .youtube-video {
  display: block; 
}  

.swiper-scrollbar-drag {

    background: rgb(255 170 33);
}
.swiper-scrollbar{
	display:none;
}
.banner-form{
	      position: absolute;
    right: 80px;
    bottom: 0;
    background: #ffaa21;
    padding: 30px;
    width: 450px;
    color: #fff;
    border-radius: 30px;
}
.banner-content {
    position: relative;
}
#banner-toggle{
	z-index:999;
	position: relative;
}
.banner-form {
    position: absolute;
    right: -420px;
    bottom: -510px;
    background: #fff;
       padding: 40px 30px;
    width: 400px;
    color: #fff;
    transition: bottom 1s ease, right 1s ease,opacity 0.6s linear ; 
    opacity: 0; /* Initially hidden */
/* 	  transform: scaleY(0); */
}

.banner-form.active {
 right: -420px; /* Slide in from right when active */
    bottom: 0; /* Slide in from bottom when active */
    opacity: 1; /* Fade in when active */
/* 	  transform: scaleY(1); */
}
.something-new{
	position:relative;
}
.banner-form .wpcf7-form-control::placeholder, textarea::placeholder{
	color:var(--secondary-color);
}
.banner-form button{
	    font-size: 16px;
    background: var(--primary-color);
    padding: 13px 50px;
    border-radius: 40px;
    color: #fff !important;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
	    border: none;
}
.banner-form button:hover{
	      background: var(--secondary-color);
}
.banner-form textarea{
	resize:none;
}
.reels-new video {
	    border-radius: 20px;
}
.reels-new .swiper-slide{
	    text-align: center;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #ffb900;
    color: #fff;
}
.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    color: #fff;
}
.reels-new .swiper-scrollbar{
	display:block;
	    height: 6px;
}
.reels-new .netflix-slider .swiper-wrapper{
	padding-bottom: 50px;
}
.banner-form  .abs-close{
	position: absolute;
    right: 14px;
    top: 10px;
}
.banner-form  .abs-close i{
	font-size: 25px;
    color: #ffffff;
}
.last-div a{
	color:#000; 
	text-decoration:none;
}
.last-div a:hover{
	color:#000; 
	text-decoration:none;
}
.reels-new .swiper-slide {
    height: 560px !important;
    text-align: center;
    display: flex;
    justify-content: center;
}
 .reels-new .netflix-slider .abs-part {
    border-radius: 10px;
    height: 560px;
    width: 315px;
    text-align: center;
} 
.top-menu{
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.top-menu .right-menu{
    display: flex;
    justify-content: flex-end;
}
.top-menu .right-menu li{
     display: inline-block;
    margin-left: 40px;
       padding: 20px 0;
    position: relative;
}
.top-menu .logo-part img{
    max-width: 30px;
    height: unset !important;
}

.top-menu .logo-part.full img{
	max-width: 250px;
}

.top-menu .logo-part.dark{
	 display: none;
}
.top-menu .right-menu li a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.top-menu .right-menu li:last-child a{
    font-weight: 900;
}
.top-menu .sub-menu {
	        background: #fff;
    position: absolute;
    /* min-width: 290px; */
    left: -40px;
    top: 45px;
    color: #fff;
    display: none;
    box-shadow: 0px 0px 5px #ccc;
}
.top-menu .menu-has-child:hover .sub-menu{
	 display: flex;
    justify-content: space-between;
    padding: 30px 0;
    flex-direction: column;
}
.sub-menu li a{
	   color: #000000 !important;
    font-weight: 500 !important;
    font-size: 17px !important;
	    white-space: nowrap;
	    padding-bottom: 5px;
}
.sub-menu li a:hover{
	    border-bottom: 3px solid var(--primary-color);
}
.sub-menu li{
	    padding: 10px 40px !important;
        margin-left: 0 !important;
}
.top-menu ul{
	margin:0;
	padding:0;
}
.sec_footer {
    padding: 40px 20px;
	    background: var(--secondary-color);
    color: #fff !important;
}
.last-div{
    padding: 0 20px 20px;
	    background: var(--secondary-color);
    color: #fff;
}
.sec_footer .footer-logo {
    margin-bottom: 30px
}

.sec_footer .footer-logo img {
    width: 100%;
    max-width: 300px;
    height: auto
}

.sec_footer ul {
    margin: 0;
    padding: 0
}

.sec_footer ul li a {
    text-decoration: none;
       color: #fff !important;
    font-size: 16px !important;
}
.last-div ul li {
    display: inline-block
}

.last-div p {
    margin: 0;
    font-size: 13px;
}

.last-div p a{
 color: #fff;
    text-decoration: none;
}
.social-media ul {
    margin: 0;
    padding: 0
}

.social-media li {
    list-style: none;
    display: inline-block;
    margin-right: 3px;
}

.social-media li a {
    color: #ffffff;
    font-size: 24px;
    display: block;
    padding: 5px 8px;
    background: #000;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.social-media li a i{
    font-size: 17px;
}
.sec-footer .contact-info {
    padding: 0
}

.sec-footer .contact-info li {
    list-style: none;
    color: #fff;
    line-height: 26px
}

.footer-city ul{
	    column-count: 2;
}
.footer-menu .menu ul li{
	line-height:2.5;
}
.social-media ul {
    margin: 0;
    padding: 0
}

.social-media li {
    list-style: none;
    display: inline-block;
    margin-right: 3px;
}

.social-media li a {
    color: var(--secondary-color);
    font-size: 24px;
    display: block;
    padding: 5px 8px;
    background: var(--primary-color);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.social-media li a i{
    font-size: 17px;
}
.office-details .sub-menu{
	display:none;
}
.office-details .sub-menu li {
    padding: 0px 20px !important;
    margin-left: 0 !important;
	
}
.office-details .active .sub-menu{
 display:block;
}
.office-details .menu-has-child > a{
	position:relative;
}
.office-details .menu-has-child > a::after{
          position: absolute;
    right: -28px;
    top: -13px;
    font-family: "Font Awesome 5 pro";
    font-weight: 500;
    /* content: "\f107"; */
    margin-left: 8px;
    margin-top: 0px;
    /* display: flex; */
    /* background: none; */
    font-size: 19px;
    color: #fff;
}
/* .netflix-slider .abs-part{
	background:none !important;
} */
.rll-youtube-player{
height:300px;
object-fit:cover;
}
.grecaptcha-badge {
    bottom: 105px !important;
    z-index: 9999;
}
/* .netflix-slider .abs-part i{
	display:none;
} */
.top-menu.scrolled {
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    z-index: 9999999;
}





.sec_banner .banner-content {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sec_banner .banner-content h1 {
    font-size: 49px;
}
.sec_services h4,
.sec_title h4{
        color: var(--secondary-color) !important;
    letter-spacing: unset !important;
}
.swiper-button-next,
.swiper-button-prev{
	    display: none !important;
}
.top-menu .right-menu li a {
    font-size: 18px;
    color: #fff;
}
.top-menu.scrolled .right-menu li a{
	color:var(--blue-color);
}
.top-menu.scrolled .logo-part.full img {
    display:none;
}
.top-menu.scrolled .logo-part.dark  {
    display:block;
}
.top-menu .logo-part img {
    max-width: 250px;
}
.main_btn_new i {
    margin-left: 10px;

}
.main_btn_new.outline{
    background: none;
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    color: #fff !important;
    font-weight: 500;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    display: inline-block;
    margin-top: 30px;
}
.main_btn_new.outline i{
	color: #fff;
}
.sec_title {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.main_btn_new.outline {
    color: var(--primary-color) !important;
    margin-top: 0;
    min-width: 150px;
}
.sec-portfolio .portfolio-swiper .swiper-wrapper {
  display: flex !important;
  align-items: stretch !important;
}

.sec-portfolio .portfolio-swiper .swiper-slide {
  width: calc((100vw - 120px) / 4) !important;
  max-width: calc((100vw - 120px) / 4) !important;
  flex: 0 0 calc((100vw - 120px) / 4) !important;
  height: 300px !important;
}

.sec-portfolio .video-container {
  width: 100% !important;
  height: 300px !important;
}

@media (max-width: 1199px) {
  .sec-portfolio .portfolio-swiper .swiper-slide {
    width: calc((100vw - 90px) / 3) !important;
    max-width: calc((100vw - 90px) / 3) !important;
    flex-basis: calc((100vw - 90px) / 3) !important;
  }
}

@media (max-width: 767px) {
  .sec-portfolio .portfolio-swiper .swiper-slide {
    width: calc((100vw - 60px) / 2) !important;
    max-width: calc((100vw - 60px) / 2) !important;
    flex-basis: calc((100vw - 60px) / 2) !important;
  }
}

@media (max-width: 575px) {
  .sec-portfolio .portfolio-swiper .swiper-slide {
    width: 85vw !important;
    max-width: 85vw !important;
    flex-basis: 85vw !important;
  }
}


.sec-portfolio {
  background: #fff;
  padding: 80px 30px 0;
}

.portfolio-slider {
  margin-bottom: 80px;
}

.sec-portfolio .sec_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
}

.sec-portfolio .sec_title h4 {
  color: #101e4b;
  font-size: 34px;
  font-weight: 900;
  margin: 0;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.portfolio-video {
  position: relative;
  width: 100%;
  height: 300px;
  background: #111;
  overflow: hidden;
  border-radius: 12px;
}

.portfolio-reel {
  height: 560px;
}

.portfolio-video iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.portfolio-play {
  width: 100%;
  height: 100%;
  border: 0;
  background: #111;
  color: #fff;
  font-size: 45px;
  cursor: pointer;
}

.portfolio-photo {
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
}

.portfolio-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_btn_new.outline {
     color: #fff !important;
    background: #fb7419;
    border: 1px solid #fb7419;
    border-radius: 40px;
    align-items: center;
    gap: 15px;
    padding: 13px 25px;
    text-decoration: none;
    display: inline-flex;
}

@media (max-width: 991px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
.sec_banner .banner-content h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.top-menu {
    z-index: 9;
    width: 100%;
    padding: 5px 0px;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right:  1rem;
    padding-left:  1rem;
}
  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .sec-portfolio {
    padding: 50px 0px;
  }

  .sec-portfolio .sec_title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.portfolio-play {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #111;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 45px;
  cursor: pointer;
  position: relative;
}

.portfolio-play::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
}

.portfolio-play-icon {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 70px;
  background: rgba(0,0,0,0.65);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.sec-contact-form {
  background: #fff;
  padding: 20px  0 90px 0;
  color: #101e4b;
}

.sec-contact-form h3 {
  font-size: 58px;
  font-weight: 900;
  line-height: 1;
  color: #101e4b;
  margin: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.form-grid label {
  color: #101e4b;
  font-size: 16px;
  font-weight: 400;
}

.form-grid .full {
  grid-column: 1 / -1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-top: 12px;
  padding: 14px 22px;
  border: 1px solid #101e4b;
  border-radius: 40px;
  background: #fff;
  color: #101e4b;
  outline: none;
}

.contact-form textarea {
  resize: none;
  min-height: 55px;
}

.privacy {
  display: flex;
  gap: 8px;
  align-items: center;
}

.privacy input {
  width: auto;
  margin: 0;
}

.contact-submit {
  background: #ff7214;
  color: #fff;
  border: 0;
  border-radius: 40px;
  padding: 16px 65px;
  font-weight: 900;
  text-transform: uppercase;
}

.form-status {
  margin-top: 18px;
  color: #101e4b;
}

@media (max-width: 767px) {

    .sec-contact-form {
    padding: 30px 0 80px;
}
  .form-grid {
    grid-template-columns: 1fr;
  }

  .sec-contact-form h3 {
    font-size: 42px;
    margin-bottom: 35px;
  }
}

.menu-has-child {
  position: relative;
}

.menu-has-child > a {
  cursor: pointer;
}

.sec_footer .menu-has-child .sub-menu {
  position: static;
  top: 100%;
  left: 0;
  min-width: 220px;
  background: #101e4b;
  padding: 15px;
  border-radius: 10px;

  /* opacity: 0;
  visibility: hidden; */
  transform: translateY(10px);
padding: 0 0 20px 0;
  transition: all 0.3s ease;
  z-index: 999;
}

/* .menu-has-child:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
} */

.sub-menu li {
  margin-bottom: 10px;
}

.sub-menu li:last-child {
  margin-bottom: 0;
}

.sub-menu a {
  color: #fff;
  white-space: nowrap;
}

.sub-menu {
  display: none;
}

.sub-menu.active {
  display: block;
}

.hero-contact-form input,
.hero-contact-form textarea {
  width: 100%;
  border: 1px solid #101e4b;
  border-radius: 40px;
  padding: 15px 18px;
  color: #101e4b;
  outline: none;
  background: #fff;
  margin-bottom: 22px;
}

.hero-form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.hero-privacy {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #101e4b;
  margin-bottom: 22px;
}

.hero-privacy input {
  width: auto;
  margin-top: 4px;
}

.hero-submit {
  background: #ff7214;
  color: #fff;
  border: 0;
  border-radius: 40px;
  padding: 15px 58px;
  font-weight: 900;
  letter-spacing: 2px;
}

@media (max-width: 575px) {
  .hero-form-row {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.last-div a, .last-div a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

.portfolio-view-more-wrap {
  display: none;
  text-align: center;
  margin-top: 25px;
}

.portfolio-view-more {
    color: #ff7214;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #fff;
    border: 1px solid #ff7214;
    border-radius: 40px;
    padding: 14px 45px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
}


@media (max-width: 575px) {
  .mobile-hidden-video {
    display: none;
  }

  .portfolio-view-more-wrap {
    display: block;
  }
}

.privacy a{
    color: var(--secondary-color);
}

.whatsapp-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  z-index: 9999;
  text-decoration: none;
}

.whatsapp-float:hover {
  color: #fff;
}